/* color palette created manually using figma */
:root {
    --warning-50: #fdfae6;
    --warning-100: #f9efb0;
    --warning-200: #f6e78a;
    --warning-300: #f2dc54;
    --warning-400: #efd533;
    --warning-500: #ebcb00;
    --warning-600: #d6b900;
    --warning-700: #a79000;
    --warning-800: #817000;
    --warning-900: #635500;

    --primary-50: rgb(253 244 255);
    --primary-100: rgb(250 232 255);
    --primary-200: rgb(245 208 254);
    --primary-300: rgb(240 171 252);
    --primary-400: rgb(232 121 249);
    --primary-500: rgb(217 70 239);
    --primary-600: rgb(192 38 211); /*#c026d3 */
    --primary-700: rgb(162 28 175); /* #a21caf */
    --primary-800: rgb(134 25 143); /* #86198f */
    --primary-900: rgb(112 26 117);
    --primary-950: rgb(74 4 78);

    --white-50: #f9f9f9;
    --white-100: #f5f5f5;
    --white-200: #f0f0f0;
    --white-300: #e5e5e5;
    --white-400: #d9d9d9;
    --white-500: #cccccc;
    --white-600: #b3b3b3;
    --white-700: #999999;
    --white-800: #7a7a7a;
    --white-900: #666666;

    --black-50: #ebebeb;
    --black-100: #c0c0c0;
    --black-200: #a1a1a1;
    --black-300: #767676;
    --black-400: #5c5c5c;
    --black-500: #333333;
    --black-600: #2e2e2e;
    --black-700: #242424;
    --black-800: #1c1c1c;
    --black-900: #151515;

    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    --gray-950: #030712;

    --error-50: #fce9e9;
    --error-100: #f7baba;
    --error-200: #f39898;
    --error-300: #ee6969;
    --error-400: #ea4c4c;
    --error-500: #e51f1f;
    --error-600: #d01c1c;
    --error-700: #a31616;
    --error-800: #7e1111;
    --error-900: #600d0d;

    --info-50: #e9f7fd;
    --info-100: #b9e6f9;
    --info-200: #98daf6;
    --info-300: #68c9f2;
    --info-400: #4bbeef;
    --info-500: #1eaeeb;
    --info-600: #1b9ed6;
    --info-700: #157ca7;
    --info-800: #116081;
    --info-900: #0d4963;

    --success-50: #f0fdf4;
    --success-100: #b0f0b0;
    --success-200: #bbf7d0;
    --success-300: #86efac;
    --success-400: #4ade80;
    --success-500: #22c55e;
    --success-600: #16a34a;
    --success-700: #0e7d3a;
    --success-800: #166534;
    --success-900: #14532d;
}

/* semantic color variables for this project */
:root {
    --color-background: var(--white-50);
    --color-background-soft: var(--white-100);
    --color-background-mute: var(--white-200);

    --color-border: var(--black-600);
    --color-border-hover: var(--black-800);

    --color-heading: var(--black-900);
    --color-text: var(--black-800);
    --color-button: var(--primary-600);
    --color-button-hover: var(--primary-700);
    --color-button-border: var(--primary-800);

    --color-scrollbar: var(--black-50);
    --color-scrollbar-thumb: var(--black-100);
}

*::-webkit-scrollbar {
    width: 0.4rem;
    background-color: var(--color-scrollbar);
}

*::-webkit-scrollbar-thumb {
    border-radius: 0.4rem;
    background-color: var(--color-scrollbar-thumb);
}

body {
    margin: 0;
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    font-family: "Chicago", sans, ui-monospace !important;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--color-heading);
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    letter-spacing: -1.5%;
    font-weight: bold;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.25rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: 0.75rem;
}
